{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my blog! I'm Jack Vincent, a passionate storyteller, avid traveler, and lifelong learner. My
          journey began in a small town where the stars at night and the stories from books fueled my imagination.
          Today, I blend my love for writing and exploration to bring you content that inspires, educates, and
          entertains.
        </p>
        <p>
          From a young age, I've been captivated by the power of words. Writing has always been my way of making sense
          of the world, and sharing these thoughts with others became a natural extension of that passion. Over the
          years, I've worn many hats—journalist, novelist, and travel writer—each enriching my perspective and honing
          my craft.
        </p>
        <p>
          Thank you for visiting my blog! I invite you to subscribe, leave comments, and share your thoughts. Together,
          we can embark on this journey of discovery and growth. Whether you're a fellow writer, an avid traveler, or
          someone seeking a bit of inspiration, I’m thrilled to have you here.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
